
<div class = "container">
  <h1> Product Index Page</h1>

  <%= form_tag(products_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Products" %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>

  <%= link_to "Add a New Product", new_product_path, class: 'btn btn-success' %>

  <% @products.each do |product| %>
     <div class="media">
      <div class="media-body">
       <h4 class="media-heading">
        <%= link_to product.name, product %> 
     <span class="badge"> <%= product.uses.count%> </span>
        </h4>
     </div>
   </div>
  <% end %>

</div>